body{
    background: rgb(38,88,119);
    background: linear-gradient(90deg, rgba(38,88,119,1) 2%, rgba(70,163,221,1) 28%);
    color: #FFFFFF; 
}

.section{
    background-color: rgba(66, 48, 48, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}



.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.full-size{
    width: 100%;
    height: 100%;
}